<header class="header homepage-header">
	<div class="header__container">
		<nav class="header__nav homepage-header__nav">
		<div class="header__nav-logo"><a href="#"><img src="img/logo-header.png"></a></div>
			<ul class="header__nav-choose">
				<li class="nav__link nav__link-white"><a href="#" >Аренда</a></li>
				<li class="nav__link nav__link-white"><a href="#" >Продажа</a></li>
				<li class="nav__link nav__link-white"><a href="#" >Посуточно</a></li>
				<li class="nav__link nav__link-white"><a href="#" > ••• Еще</a></li>
			</ul>
			<ul class="header__nav-actions">
				<li class="nav__link nav__link-white nav__post"><a href="#"><img src="img/plus.png"> Разместить объявление</a></li>
				<li class="nav__link nav__link-white header__signin"><a href="#">Войти</a></li>
			</ul>
		</nav>
		<h1 class="header__form-name">Поиск недвижимости в Украине</h1>
		<form class="header__form">
			<label class="header__select-label select-label">
				Выберите город
				<select class="header__select select">
					<option class="select-options">Киев</option>
					<option class="select-options">Одесса</option>
				</select>
			</label>
			<label class="header__checkbox_main-label">
				Кол-во комнат
				<div class="header__checkbox-block">
					<label class="header__checkbox_label">
						<input type="checkbox" name="room1">
						<span class="checkbox-span checkbox_span-white">1</span>
					</label>
					<label class="header__checkbox_label">
						<input type="checkbox" name="room2">
						<span class="checkbox-span checkbox_span-white">2</span>
					</label>
					<label class="header__checkbox_label">
						<input type="checkbox" name="room3">
						<span class="checkbox-span checkbox_span-white">3</span>
					</label>
					<label class="header__checkbox_label">
						<input type="checkbox" name="room4">
						<span class="checkbox-span checkbox_span-white">4</span>
					</label>
					<label class="header__checkbox_label">
						<input type="checkbox" name="room5">
						<span class="checkbox-span checkbox_span-white">5+</span>
					</label>
				</div>
			</label>
			<button class="btn btn-secondary hedear-form__btn">Перейти к поиску</button>
		</form>
	</div>
</header>